{% extends 'layout.html' %}

{% block content %}
	<div class="login-container">
        <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="login-title">Login</legend>

				<div class="login-username-container">
					{{ form.username.label(class="") }}

					{% if form.username.errors%}
						{{ form.username(class="") }}
						<div class="">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class=" ") }}
					{% endif %}

				</div>

				<div class="login-password-container">
					{{ form.password.label(class="") }}

					{% if form.password.errors%}
						{{ form.password(class="") }}
						<div class="">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class=" ") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="submit-login">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
			<small class="forgot-password-link">
				<a href="{{ url_for('forgot') }}">Forgot Password?</a>
			</small>
		</form>
	</div>
{% endblock content %}